
body{
    overflow-x: hidden;
    text-align: center;
    margin : 0 auto;
    width : 100%;
}
h1,h2,h3,h4,h5{
    color : #d92027;
    margin : 5%;
}

#top{
    background-color : #333333;
    color : white;
    /*padding : 0 10% 0 10%;*/
    padding : 0 2px 0 2px;
    font-size : 0.9rem;
   
}

@media screen and (max-width: 769px) {


    .visibility{
        display : none;
    }
    .navbar-brand{
        margin-left : 1%;
        width : 20%;
    }
    .search{
        
        width : 40%;
    }
    .searchIcon{
        display : inline;
        
    }
    }
#top>.container-fluid>.row>.col-md-3>p,#top>.container-fluid>.row>.col-md-2>p{
    display : inline !important;   
}

#top>.container-fluid>.row>.col-md-3>i,#top>.container-fluid>.row>.col-md-2>i{
    color : #d92027 !important;
    margin : 1% 0% 1% 1%;
}
#top>.right{
    margin-right : -20%;
}
/*#top>.left{
    margin-left : 10px;
}*/
nav>a, nav>form{
    margin : 0 100px 0 100px;
    
}
#navigation>nav{
    padding : 0 100px 0 100px;
}
#navigation>nav>.collapse>.navbar-nav>.nav-item{
    margin : 0px 30px;
    /*color : whitesmoke;*/
   color : white
}
#navigation>nav>.collapse>.navbar-nav>.nav-item:hover{
    background-color: white;
    color : #d92027;
    padding-left : 2%;
    padding-right: 2%;
}
#newProducts{
    padding : 0 auto;
}

#newProducts>h2,#TopSelling>h2{
    color :  #d92027;
    font-weight: bold;
    margin : 20px;   
}
.card-body{
    padding : 0 !important;
    padding-bottom: 1.25rem !important;
}
#WeeklyDeal{
    text-align : center;
    margin-top : 50px;
    padding-top : 50px;
    background-color: whitesmoke;
}
#WeeklyDeal>.row>.col-md-4>ul>li{
    display : inline;
    list-style: none;
    margin : 7px;
}
#WeeklyDeal>.row>.col-md-4>ul>li>div{
    border-radius : 100%;
    display: inline-block;
    width : 70px;
    height : 70px;
    background-color: #d92027;
    color : white;
    font-weight : bold;
    margin : 10px;
    padding : 7px;
}
#WeeklyDeal>.row>.col-md-4>.image1{
    transform: scaleX(-1);
}
#WeeklyDeal>.row>.col-md-4>.image2{
    transform : rotate(45deg);
    width : 120%;
    margin-right : 20px;
    margin-top : 20px;
}
#TopSelling, #shop{
    margin : 0 10%;
    
}
#TopSelling>.row>.col-md-4, #shop>.row>.col-md-4{
    margin-top : 30px;
}
#footer{
    background-color: #333333;
    color : white;
    text-align : left;
    padding : 50px;
    margin-top : 50px;
}

#footer>.row>.col-md-3>p>i{
    color : #d92027;
    margin : 0 5% ;
}
#footer>.row>.col-md-3>h2{
    margin-bottom : 40px;
}
#footer>.row>.col-md-3>ul>li{
    list-style : none;
    margin : 5% 0;
}
#footer>.row>.col-md-3>ul>li>a{
    color : white;
    
}
#copyright{
    background-color: black;
    height : 30px;
    width : 100%;
    color : white;
    font-size: 0.8rem;
    text-align : center;
}
@media screen and (max-width: 769px) {
    .card{
        margin : 0;
    }
    .topcard{
        margin : 0%;
    }
    body{
        overflow-x : hidden;
    }
    /*#TopSelling{
        margin : 2% 18%;
        margin-left: 100px;
        
    }
    #newProducts{
        margin : 2% 10%;
        margin-left : 10px;
       
    }*/
  }

  


  /* Product Page */

  .desktoptext{
    margin : 10%;
    text-align: justify;
  }
  .pdesktop{
      width : 70%;
      
  }
  /* Contact page Styling*/
.contact{
    color : #d92027;
    font-size : 300%;
    
}
.container>.row>.col-md-4>p{
    text-align : center !important;
   
}
.review{
    margin : 0 20%;
}
.revieewinput{
    width : 100% !important;
    margin : 10px !important;
}
.buttton{
    /*text-align: center;*/
    width : 200px;
    margin-top : 20px !important;
}